<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="budgetManagementRegist" method="post" >
예산 관리 작성 페이지
   <table border = "1" width ="600" align="center">
      <tr><th width="100">예산 ID</th>
         <td><input type="text" name="budgetId" />자동생성 예정</td></tr>
      <tr><th width="100">사용자 ID</th>
         <td><input type="text" name="memberId"/></td></tr>
      <tr><th>예산 항목</th>
         <td><input type="text" name="category" /></td></tr>   
      <tr><th>목표 예산</th>
         <td><input type="number" name="targetBudget"  /></td></tr>
      <tr><th>실제 지출 비용</th>
         <td><input type="number" name="actualCost"  /></td></tr>
          <tr><th>남은 예산</th>
         <td><input type="number" name="remainingBudget" /></td></tr>
         
      <tr><th colspan="2"><input type="submit" value="예산 작성" /></th>
      </tr>
      
      <!--
       th:value="${dto.}"
       th:value="${dto.}"
         -->
   </table>
</form>
</body>
</html>